.photo-1 {
  background-image: url("../images/image6.jpg"); }

.photo-2 {
  background-image: url("../images/image1.png"); }

.photo-3 {
  background-image: url("../images/image2.png"); }

.photo-4 {
  background-image: url("../images/image3.png"); }

.photo-5 {
  background-image: url("../images/image4.png"); }

.photo-6 {
  background-image: url("../images/image5.png"); }

.face-1 {
  background-image: url("../images/img-team-1.png"); }

.face-2 {
  background-image: url("../images/img-team-2.png"); }

.face-3 {
  background-image: url("../images/img-team-3.png"); }

* {
  margin: 0;
  padding: 0;
  font-family: "Gotham Rounded";
  box-sizing: border-box;
  color: #373737; }

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700; }

h5 {
  font-size: 14px;
  line-height: 30px;
  color: #aeaeae;
  text-transform: uppercase; }

.btn {
  width: 180px;
  height: 45px;
  background: #b88b58;
  border-style: none;
  border-radius: 25px; }
  .btn:hover {
    background: -webkit-linear-gradient(left, #fff, #b88b58); }
    .btn:hover * {
      font-size: 18px;
      transition: 0.3s; }
    .btn:hover:active {
      background: #000; }
  .btn a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    text-decoration: none; }

.carousel-indicators li {
  border-color: #b88b58; }

.carousel-indicators .active {
  background-color: #b88b58; }

.carousel img {
  width: 100%; }

.menu {
  background-color: #000;
  color: #fff; }
  .menu .nav {
    width: 960px;
    margin: 0 auto;
    height: 100px; }
    .menu .nav .logo {
      float: left;
      margin: 25px 150px 25px 0;
      height: 50px;
      width: 50px;
      display: inline-block;
      line-height: 100px;
      background-image: url("../images/logo.PNG");
      background-size: cover; }
    .menu .nav ul {
      margin: 0;
      padding: 0;
      height: 100px;
      display: inline-block; }
      .menu .nav ul li {
        display: inline-block;
        float: left;
        padding: 5px 10px;
        height: 100px; }
        .menu .nav ul li:hover {
          cursor: pointer;
          border-bottom: 5px solid #b88b58; }
        .menu .nav ul li a {
          text-decoration: none;
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          color: #fff;
          height: 100px;
          line-height: 100px; }

.main {
  width: 100%;
  height: 740px;
  padding: 0; }
  .main #carousel-example-generic2 {
    height: 740px; }
    .main #carousel-example-generic2 .carousel-inner {
      height: 740px; }
    .main #carousel-example-generic2 .carousel-indicators {
      bottom: 50px; }
  .main * {
    color: #fff; }
  .main .hero {
    position: relative;
    top: -540px;
    width: 90%;
    height: 500px;
    margin: 40px auto; }
    .main .hero * {
      margin: 15px auto; }
    .main .hero h1 {
      font-family: "Gotham Rounded";
      text-transform: uppercase;
      font-weight: 700;
      font-size: 72px;
      line-height: 69px; }
      .main .hero h1 span {
        color: #b88b58; }
    .main .hero h3 {
      font-size: 24px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase; }

.about {
  min-height: 500px;
  padding: 70px 0 20px; }
  .about .row {
    padding: 40px 0; }
    .about .row .col {
      text-align: left; }
      .about .row .col iframe {
        width: 100%;
        height: 270px;
        box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42); }
      .about .row .col p {
        line-height: 25px; }
    .about .row .btn {
      width: 192px;
      margin: 30px 0;
      border-radius: 5px; }

.services {
  min-height: 400px;
  background: #000;
  padding: 40px 0; }
  .services h1 {
    color: #fff; }
  .services h5 {
    color: #aeaeae; }
  .services h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px; }
  .services p {
    font-size: 12px; }
  .services .ico {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-size: cover; }
    .services .ico:hover {
      animation: rubberBand 1s;
      cursor: pointer; }
  .services .star {
    background-image: url("../images/star.png"); }
  .services .support {
    background-image: url("../images/support.png"); }
  .services .clock {
    background-image: url("../images/clock.png"); }
  .services .quality {
    background-image: url("../images/quality.png"); }
  .services .row {
    margin: 40px 0;
    border-left: 2px solid #bebebe; }
    .services .row .col {
      border-right: 2px solid #bebebe;
      padding: 20px;
      height: 180px; }

.projects {
  padding: 60px 0; }
  .projects .nav-tabs {
    margin: 50px auto 35px;
    width: 570px;
    border: 2px solid #999;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ccc;
    text-transform: uppercase;
    padding: 0; }
    .projects .nav-tabs * {
      color: #000;
      font-size: 14px; }
    .projects .nav-tabs li a {
      border-left: 2px solid #999; }
      .projects .nav-tabs li a:hover {
        border-bottom: 5px solid #888;
        box-sizing: border-box; }
    .projects .nav-tabs .active a {
      background: #ccc;
      border: none;
      border-bottom: 5px solid #b88b58; }
  .projects .btn {
    margin-top: 20px; }
  .projects .col {
    padding: 12px;
    position: relative;
    overflow: hidden;
    height: 165px;
    margin-bottom: 15px; }
    .projects .col .photo {
      height: 165px;
      z-index: 3;
      background-size: cover;
      background-position: center;
      width: 100%; }
    .projects .col .layer {
      height: 165px;
      z-index: 2;
      width: calc(100% - 25px);
      position: absolute;
      top: 165px; }
      .projects .col .layer .photo-ico {
        cursor: pointer;
        width: 70%;
        font-size: 12px;
        margin: 35px auto;
        text-align: center;
        visibility: hidden; }
        .projects .col .layer .photo-ico h5 {
          font-size: 18px;
          padding: 0 0 0 5px;
          color: #fff; }
        .projects .col .layer .photo-ico p {
          color: #fff; }
    .projects .col:hover .layer {
      top: 12px;
      background: rgba(0, 0, 0, 0.8);
      transition: top 0.5s ease-in; }
    .projects .col:hover .photo-ico {
      visibility: visible;
      color: #b88b58;
      transition: 0.4s ease-in 0.5s; }

.team .carousel img {
  height: 700px; }
.team .carousel-inner .carousel-caption {
  left: 0;
  width: 100%; }
.team h1, .team h5 {
  color: #fff; }
.team .row {
  margin: 25px 0; }
  .team .row .col {
    background-color: #fff;
    margin: 1%;
    width: 31%;
    padding: 0 60px; }
    .team .row .col h3 {
      font-size: 21px; }
    .team .row .col p {
      font-size: 14px; }
  .team .row .col-fa {
    width: 33px;
    margin: 20px 2px;
    padding: 0;
    display: block;
    float: left; }
  .team .row .fa {
    background-color: #ccc;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    color: #fff; }
    .team .row .fa:hover {
      color: #fff;
      transform: scale(1.2);
      transition: transform 0.5s 0s;
      background: #b88b58; }
.team .face {
  width: 13vw;
  max-width: 175px;
  height: 13vw;
  max-height: 175px;
  margin: 40px auto;
  background-size: cover; }

.clients {
  background: #f5f6f7;
  height: 700px; }
  .clients .carousel-caption {
    padding: 0 110px; }
  .clients .face {
    width: 10vw;
    max-width: 135px;
    height: 10vw;
    max-height: 135px;
    margin: 90px auto 20px;
    background-size: cover; }
  .clients .carousel img {
    height: 700px; }
  .clients h3 {
    font-size: 24px;
    color: #000;
    font-weight: 700; }
  .clients h6 {
    color: #000;
    margin-bottom: 50px;
    font-size: 18px; }
  .clients p {
    margin-bottom: 110px;
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 300; }

.logo .col {
  height: 150px;
  padding: 50px 0 50px 40px; }

.prices {
  padding: 40px 0;
  background: url("../images/bg.png");
  background-size: cover; }
  .prices .col {
    background: #fff;
    margin: 20px 1%;
    padding-top: 20px;
    width: 23%;
    cursor: help; }
    .prices .col h1 {
      line-height: 10px; }
  .prices p {
    line-height: 10px;
    margin: 5px; }
  .prices h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #000; }
  .prices h6 {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .prices .btn {
    margin: 20px 0 40px;
    width: 15vw;
    max-width: 180px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 33px; }
    .prices .btn:hover {
      font-size: 18px;
      transition: 0.3s; }

.products {
  height: 720px;
  text-shadow: none; }
  .products .carousel-indicators {
    bottom: 90px; }
  .products .carousel-caption {
    text-shadow: 0 0 0 black;
    width: 100%;
    left: 0;
    height: 680px; }
  .products .carousel img {
    height: 720px; }
  .products .row {
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px; }
    .products .row .boxes {
      background: url("../images/img.png");
      background-repeat: no-repeat;
      height: 380px;
      margin-top: 25px; }
    .products .row .col {
      text-align: left;
      padding: 10px; }
      .products .row .col h3 {
        text-transform: uppercase;
        font-size: 21px;
        color: #242424;
        font-weight: 700;
        margin-top: 35px; }
      .products .row .col p {
        color: #5b5b5b;
        font-size: 14px;
        font-weight: 300; }
  .products .btn {
    margin-top: 60px;
    width: 192px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 35px;
    color: #fff; }
    .products .btn:hover {
      font-size: 18px;
      transition: 0.3s; }

.facts {
  min-height: 400px;
  background: #000;
  padding: 40px 0; }
  .facts h1 {
    color: #fff; }
  .facts h5 {
    color: #aeaeae; }
  .facts h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px; }
  .facts p {
    font-size: 12px; }
  .facts .row {
    margin-top: 15px; }
    .facts .row .col {
      padding: 0 20px; }
      .facts .row .col h1 {
        color: #b88b58;
        font-size: 48px; }
      .facts .row .col hr {
        width: 18px;
        height: 2px;
        margin: 0 auto;
        color: #7e7e7e;
        border-color: #7e7e7e;
        background-color: #7e7e7e;
        margin-top: 20px;
        margin-bottom: -10px; }
      .facts .row .col .row:first-child {
        height: 115px; }
      .facts .row .col .row:nth-child(2) {
        height: 50px; }

.share {
  box-shadow: 2px 2px 2px #ccc;
  padding-top: 20px;
  height: 85px;
  overflow: hidden; }
  .share p {
    line-height: 50px; }
  .share .share-box {
    width: 590px;
    margin: 0 auto;
    line-height: 50px;
    padding: 0;
    height: 85px; }
  .share i {
    float: left; }
  .share .col {
    float: left;
    width: 400px; }
    .share .col:first-child {
      width: 190px;
      line-height: 10px; }
    .share .col .col {
      float: left;
      width: 42px;
      display: inline-block; }
  .share .fa {
    display: inline-block;
    float: left;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    cursor: pointer; }
  .share .fa-twitter {
    background-color: #66CCFF;
    color: #fff; }
    .share .fa-twitter:hover {
      background-color: #fff;
      border: 1px solid #66CCFF;
      color: #66CCFF; }
  .share .fa-facebook {
    background-color: #3366FF;
    color: #fff; }
    .share .fa-facebook:hover {
      color: #3366FF;
      background-color: #fff;
      border: 1px solid #3366FF; }
  .share .fa-google-plus {
    background-color: #FF3333;
    color: #fff; }
    .share .fa-google-plus:hover {
      color: #FF3333;
      background-color: #fff;
      border: 1px solid #FF3333; }
  .share .fa-linkedin {
    background-color: #127cb4;
    color: #fff; }
    .share .fa-linkedin:hover {
      color: #127cb4;
      background-color: #fff;
      border: 1px solid #127cb4; }
  .share .fa-pinterest-p {
    background-color: #b71c29;
    color: #fff; }
    .share .fa-pinterest-p:hover {
      color: #b71c29;
      background-color: #fff;
      border: 1px solid #b71c29; }
  .share .fa-share-alt {
    line-height: 40px;
    font-size: 30px;
    margin: 4px 10px;
    color: #b88b58; }

.contact {
  padding: 40px 0; }
  .contact .ct-box {
    width: 550px;
    margin: 0 auto; }
    .contact .ct-box .btn {
      margin-bottom: 30px;
      width: 192px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 35px;
      color: #fff; }
      .contact .ct-box .btn:hover {
        font-size: 18px;
        transition: 0.3s; }
    .contact .ct-box form {
      margin: 60px 0 40px; }
      .contact .ct-box form input {
        border: none;
        border-bottom: 2px solid #ccc;
        -webkit-box-shadow: none;
        box-shadow: none; }
      .contact .ct-box form #name {
        width: 47%;
        margin-right: 6%;
        float: left; }
      .contact .ct-box form #Email {
        width: 47%; }
      .contact .ct-box form #subject {
        margin-top: 30px; }
      .contact .ct-box form #massage {
        margin-top: 60px; }

.map {
  background: url("../images/map.png");
  background-size: cover;
  background-position: center;
  height: 416px;
  padding: 28px 10vw; }
  .map .place-info {
    width: 540px;
    height: 360px;
    background: #fff;
    padding: 50px 20px; }
    .map .place-info .col {
      height: 40px;
      line-height: 30px;
      margin: 10px; }
      .map .place-info .col i {
        font-size: 20px;
        display: inline-block;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background: #ccc;
        color: #fff;
        line-height: 36px;
        text-align: center;
        margin: 0 20px; }

.footer {
  min-height: 260px;
  padding: 10px;
  background-color: #000; }
  .footer .row {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 0;
    max-height: 650px; }
    .footer .row .col {
      padding-left: 10px; }
      .footer .row .col .row {
        margin: 0 auto; }
  .footer .col {
    max-height: 300px;
    text-align: left;
    margin: 0;
    padding: 0 20px; }
  .footer .col-i {
    width: 35px;
    margin: 4px;
    height: 35px;
    float: left; }
    .footer .col-i .fa {
      background-color: #373737;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      line-height: 35px;
      visibility: visible;
      color: #fff; }
      .footer .col-i .fa:hover {
        cursor: pointer;
        font-size: 24px;
        transition: .3s;
        background: #b88b58; }
  .footer .btn {
    margin: 5px 0 40px;
    width: 192px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 35px;
    color: #fff; }
    .footer .btn:hover {
      font-size: 18px;
      transition: 0.3s; }
  .footer .subscribe {
    background: url("../images/bg1.png");
    text-align: center; }
    .footer .subscribe input {
      margin: 35px auto 20px;
      width: 70%;
      border: none;
      border-bottom: 3px solid #ccc;
      background: transparent;
      text-align: center;
      text-transform: uppercase;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .footer span {
    color: #fff;
    display: block;
    margin-top: 110px; }
  .footer p {
    font-size: 13px;
    color: #7e7e7e; }

#myModal {
  top: 100px; }
  #myModal .modal-content {
    width: 300px;
    margin: 0 auto;
    text-align: center; }
  #myModal .modal-header {
    height: 30px;
    border: none; }
  #myModal .modal-body input {
    margin: 0 auto 40px;
    width: 70%;
    border: none;
    border-bottom: 3px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #myModal .modal-body .btn {
    margin-bottom: 30px; }
  #myModal .modal-body h1 {
    color: #b88b58; }

#myModal1 .modal-header {
  height: 75px;
  padding-left: 7%; }
  #myModal1 .modal-header .date {
    color: #aeaeae;
    font-size: 10px;
    padding: 0;
    margin: 0; }
  #myModal1 .modal-header h4 {
    font-size: 18px;
    font-weight: 700; }
  #myModal1 .modal-header .details {
    font-size: 12px;
    font-weight: 700; }
#myModal1 .modal-body #carousel-example-generic9 {
  width: 90%;
  margin: 0 auto; }
  #myModal1 .modal-body #carousel-example-generic9 .carousel-control {
    top: 550px; }
    #myModal1 .modal-body #carousel-example-generic9 .carousel-control .glyphicon-chevron-left, #myModal1 .modal-body #carousel-example-generic9 .carousel-control .glyphicon-chevron-right {
      background-color: #b88b58;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-shadow: none;
      color: #000; }
  #myModal1 .modal-body #carousel-example-generic9 .right.carousel-control {
    left: inherit;
    right: -50px; }
  #myModal1 .modal-body #carousel-example-generic9 .left.carousel-control {
    left: inherit;
    right: 50px; }
#myModal1 .modal-body .mini-photos {
  height: 100px;
  padding: 25px 5% 0; }
  #myModal1 .modal-body .mini-photos img {
    float: left;
    width: 12%;
    min-width: 70px;
    margin-right: 15px;
    cursor: pointer; }
#myModal1 .modal-footer {
  background-color: #ededed;
  text-align: left; }
  #myModal1 .modal-footer .modal-desc {
    margin-left: 5%;
    width: 60%;
    float: left;
    display: inline-block;
    padding-right: 20px; }
  #myModal1 .modal-footer .modal-socials {
    width: 30%;
    float: left; }
    #myModal1 .modal-footer .modal-socials .modal-numbers {
      padding-left: 5px; }
    #myModal1 .modal-footer .modal-socials span {
      margin: 0 14px; }
    #myModal1 .modal-footer .modal-socials .fa {
      display: inline-block;
      float: left;
      background-color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin: 10px;
      font-size: 20px;
      box-sizing: border-box;
      line-height: 30px;
      text-align: center;
      cursor: pointer; }
    #myModal1 .modal-footer .modal-socials .fa-twitter {
      background-color: #66CCFF;
      color: #fff; }
      #myModal1 .modal-footer .modal-socials .fa-twitter:hover {
        background-color: #fff;
        border: 1px solid #66CCFF;
        color: #66CCFF; }
    #myModal1 .modal-footer .modal-socials .fa-facebook {
      background-color: #3366FF;
      color: #fff; }
      #myModal1 .modal-footer .modal-socials .fa-facebook:hover {
        color: #3366FF;
        background-color: #fff;
        border: 1px solid #3366FF; }
    #myModal1 .modal-footer .modal-socials .fa-google-plus {
      background-color: #FF3333;
      color: #fff; }
      #myModal1 .modal-footer .modal-socials .fa-google-plus:hover {
        color: #FF3333;
        background-color: #fff;
        border: 1px solid #FF3333; }
    #myModal1 .modal-footer .modal-socials .fa-linkedin {
      background-color: #127cb4;
      color: #fff; }
      #myModal1 .modal-footer .modal-socials .fa-linkedin:hover {
        color: #127cb4;
        background-color: #fff;
        border: 1px solid #127cb4; }
    #myModal1 .modal-footer .modal-socials .fa-pinterest-p {
      background-color: #b71c29;
      color: #fff; }
      #myModal1 .modal-footer .modal-socials .fa-pinterest-p:hover {
        color: #b71c29;
        background-color: #fff;
        border: 1px solid #b71c29; }

.modal-prices .modal-header {
  background: -webkit-linear-gradient(235deg, #fff, #b88b58, #b88b58); }
.modal-prices .btn {
  width: 120px;
  height: 30px; }

.modal-cont .modal-header, .modal-sub .modal-header {
  background: -webkit-linear-gradient(235deg, #fff, #b88b58, #b88b58); }
.modal-cont h1, .modal-sub h1 {
  color: #b88b58; }

.fixed {
  position: sticky;
  width: 96vw;
  top: 440px;
  z-index: 10; }
  .fixed div {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    background-color: #b88b58;
    text-align: center;
    padding-top: 10px; }
    .fixed div:hover {
      transform: scale(1.2);
      transition: 0.5s; }
  .fixed div:first-child {
    margin-left: 5vw;
    float: left; }
  .fixed div:nth-child(2) {
    margin-right: 5vw;
    float: right; }

@media (max-width: 1360px) {
  .main {
    height: 55vw; }
    .main #carousel-example-generic2 {
      height: 55vw; }
      .main #carousel-example-generic2 .carousel-inner {
        height: 55vw; }
      .main #carousel-example-generic2 .carousel-indicators {
        bottom: 4vw; }
    .main .hero {
      top: -42vw; }

  .fixed {
    top: 530px;
    margin-top: -65px; } }
@media (max-width: 1200px) {
  .main .hero {
    top: -45vw; }

  .team .row .col-fa {
    margin: 1.5vw 2px; }

  .clients .carousel-caption {
    padding: 0 8vw; } }
@media (max-width: 992px) {
  .main .hero {
    top: -47vw; }

  .menu .nav {
    width: 100%;
    min-height: 200px; }
    .menu .nav .logo {
      margin: 20px calc(50% - 35px) 0;
      float: clear;
      height: 70px;
      width: 70px; }
    .menu .nav ul {
      width: 100%; }
      .menu .nav ul li {
        float: clear; }

  .team .carousel img {
    height: 650px; }
  .team .row .col {
    padding: 0 20px; }
    .team .row .col .row .col {
      padding: 0; }

  .clients .face {
    width: 20vw;
    height: 20vw;
    margin: 20px auto; }

  .footer .col-i {
    width: 5vw;
    height: 5vw; }
    .footer .col-i .fa {
      width: 5vw;
      height: 5vw;
      font-size: 20px;
      line-height: 5vw; }
      .footer .col-i .fa:hover {
        font-size: 22px; }
  .footer span {
    margin-top: 50px; }

  #myModal1 .modal-body #carousel-example-generic9 .carousel-control {
    top: 350px; }
  #myModal1 .modal-body #carousel-example-generic9 .right.carousel-control {
    left: inherit;
    right: -30px; }
  #myModal1 .modal-body #carousel-example-generic9 .left.carousel-control {
    left: inherit;
    right: 70px; }
  #myModal1 .modal-footer .modal-socials .modal-numbers {
    display: none; } }
@media (max-width: 767px) {
  .main .hero {
    top: -55vw; }
    .main .hero h1 {
      font-size: 44px; }

  .menu .nav {
    min-height: 500px; }
    .menu .nav ul li {
      width: 40%;
      display: block;
      margin: 0 5%;
      text-align: center; }

  .team .carousel img {
    height: 600px; }

  .clients .face {
    margin: 60px auto 20px; }

  .prices .col {
    width: 46%; }
  .prices .btn {
    width: 30vw; }

  .products {
    height: 1180px; }
    .products .carousel-indicators {
      bottom: 40px; }
    .products .carousel-caption {
      height: 1130px; }
    .products .carousel img {
      height: 1180px; }
    .products .row {
      margin-top: 25px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px; }
      .products .row .boxes {
        height: 380px;
        margin-top: 25px; }
    .products .btn {
      margin-top: 40px; }

  .share {
    padding: 30px;
    height: 150px; }
    .share .col {
      height: 55px;
      float: clear;
      width: 100%;
      display: block; }

  .contact .ct-box {
    width: 400px; }

  .map {
    padding: 28px 20px; }
    .map .place-info {
      width: 480px;
      padding: 50px 10px; }

  .footer .col {
    margin: 20px auto; }
  .footer .col-i {
    margin: 5px;
    width: 50px;
    height: 50px; }
    .footer .col-i .fa {
      width: 50px;
      height: 50px;
      font-size: 26px;
      line-height: 50px; }
      .footer .col-i .fa:hover {
        font-size: 30px; }

  #myModal1 .modal-body #carousel-example-generic9 .carousel-control {
    top: 55vw; } }
@media (max-width: 650px) {
  .main .hero {
    top: -52vw; }
    .main .hero h1 {
      font-size: 30px;
      line-height: 30px; }
    .main .hero h3 {
      font-size: 16px; }
  .main .carousel-indicators {
    display: none; }

  .team .carousel img {
    height: 550px; }
  .team .row .col {
    width: 48%; }
    .team .row .col:nth-child(3) {
      display: none; }
    .team .row .col h3 {
      font-size: 16px; }
    .team .row .col p {
      font-size: 11px; }
    .team .row .col .row .col {
      width: 33px; }
      .team .row .col .row .col:nth-child(3) {
        display: inline-block; }

  .projects .nav-tabs {
    width: 130px; }
    .projects .nav-tabs * {
      font-size: 12px; }
    .projects .nav-tabs li a {
      box-sizing: border-box;
      width: 130px; }
  .projects .col {
    width: 98%; }

  .contact {
    padding: 20px 0; }
    .contact .ct-box {
      width: 310px; }

  .map {
    padding: 28px 15px;
    background-position: 60%; }
    .map .place-info {
      width: 280px;
      padding: 10px 20px; }
      .map .place-info .col {
        height: 60px; }
        .map .place-info .col i {
          margin: 0 20px 0 0; }

  .fixed {
    width: 94vw; }

  #myModal1 .modal-body .mini-photos img {
    display: none; }
  #myModal1 .modal-footer p {
    font-size: 10px; } }
@media (max-width: 410px) {
  .menu .nav ul li {
    width: 50%;
    margin: 0; }

  .main .btn {
    display: none; }

  .prices p {
    font-size: 12px; }

  .products .row .col p {
    font-size: 12px; }

  .share .col .col {
    float: clear;
    width: 32px; }
  .share .fa {
    margin: 10px 0; }

  #myModal1 .modal-footer p {
    font-size: 10px; }
  #myModal1 .modal-footer .modal-socials {
    width: 80px;
    float: left; }
    #myModal1 .modal-footer .modal-socials .fa {
      width: 30px;
      height: 30px;
      margin: 2px 5px 2px;
      font-size: 20px;
      box-sizing: border-box;
      line-height: 30px;
      text-align: center;
      cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
