$fonts-main: 'Montserrat', sans-serif;

$color-background: #f5f6f7;
$color-main: #b88b58;
$color-light-gray: #aeaeae; 
$color-gray: #7e7e7e; 
$color-dark-gray: #373737; 
$color-twitter: #66CCFF;
$color-facebook: #3366FF;
$color-google: #FF3333;
$color-linkedin: #127cb4;
$color-pinterest: #b71c29;
$color-flickr: #3b5998;
$color-dribbble: #cb2028;


.photo-1 {
	background-image: url("../images/image6.jpg");
}

.photo-2 {
	background-image: url("../images/image1.png");
}

.photo-3 {
	background-image: url("../images/image2.png");
}

.photo-4 {
	background-image: url("../images/image3.png");
}

.photo-5 {
	background-image: url("../images/image4.png");
}

.photo-6 {
	background-image: url("../images/image5.png");
}

.face-1 {
	background-image: url("../images/img-team-1.png");
}

.face-2 {
	background-image: url("../images/img-team-2.png");
}

.face-3 {
	background-image: url("../images/img-team-3.png");
}

* {
	margin: 0;
	padding: 0;
	font-family: $fonts-main;
	box-sizing: border-box;
	color: $color-dark-gray;

}

h1 {
	font-size: 30px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
}

h5 {
	font-size: 14px;
	line-height: 30px;
	color: $color-light-gray;
	text-transform: uppercase;
}

.btn {
	width: 180px;
	height: 45px;
	background: $color-main;
	border-style: none;
	border-radius: 25px;
	&:hover {
		background: -webkit-linear-gradient(left,#fff, $color-main);
		* {
		font-size: 18px;
		transition: 0.3s;
		}
	}
	&:active {
		background: #000;
	}	
	a {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 35px;
		color: #fff;
		text-decoration: none;
	}
}

.carousel-indicators li {
		border-color: $color-main;
	}
.carousel-indicators .active {
		background-color: $color-main;
	}

.carousel {
	img {
		width: 100%;
	}
}


.menu {
	background-color: #000;
	color: #fff;
	.nav {
		width: 960px;
		margin: 0 auto;
		height: 100px;
		.logo {
			float: left;
			margin: 25px 150px 25px 0;
			height: 50px;
			width: 50px;
			display: inline-block;
			line-height: 100px;
			background-image: url('../images/logo.PNG');
			background-size: cover;
		}
		ul {
			margin: 0;
			padding: 0;
			height: 100px;
			display: inline-block;
			li {
				display: inline-block;
				float: left;
				padding: 5px 10px;
				height: 100px;
				&:hover {
					cursor: pointer;
					border-bottom: 5px solid $color-main;
				}
			}
			a * {			
				text-decoration: none;
				font-family: "Gotham Rounded";
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				color: #fff;
				height: 100px;
				line-height: 100px;
			}
		}
	}
}

.main {
	width: 100%;
	height: 740px;	
	padding: 0;
	#carousel-example-generic2 {
		height: 740px;
		.carousel-inner {
			height: 740px;
		}
		.carousel-indicators {
			bottom: 50px;
		}
	}
	* {
		color: #fff;
	}
	
	.hero {
		position: relative;
		top: -540px;
		width: 90%;
		height: 500px;
		margin: 40px auto;
		* {
			margin: 15px auto;
		}
		h1 {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 72px;
			line-height: 69px;
			span {
				color: $color-main;
			}
		}
		h3 {
			font-size: 24px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;
		}
	}
}

.about {
	min-height: 500px;
	padding: 70px 0 20px;
	.row {
	padding: 40px 0;
		.col {
			text-align: left;
			iframe {
				width: 100%;
				height: 270px;
				box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42);
			}
			p {
				line-height: 25px;
			}
		}
		.btn {
			width: 192px;
			margin: 30px 0;
			border-radius: 5px;
		}
	}
}

.services {
	min-height: 400px;
	background: #000;
	padding: 40px 0;
	h1 {
		color: #fff;
	}
	h5 {
		color: $color-light-gray;
	}
	h3 {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
	}
	p {
		font-size: 12px;
	}
	.ico {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		background-size: cover;
		&:hover {
			animation: rubberBand 1s;
			cursor: pointer;
		}
	}
	.star {
		background-image: url('../images/star.png');
	}
	.support {
		background-image: url('../images/support.png');
	}
	.clock {
		background-image: url('../images/clock.png');
	}
	.quality {
		background-image: url('../images/quality.png');
	}
	.row {
		margin: 40px 0;
		border-left: 2px solid #bebebe;
		.col {
			border-right: 2px solid #bebebe;
			padding: 20px;
			height: 180px;
		}
	}
}

.projects {
	padding: 60px 0;
	.nav-tabs {
		margin: 50px auto 35px;
		width: 570px;
		border: 2px solid #999;
		border-radius: 20px;
		overflow: hidden;
		background-color: #ccc;
		text-transform: uppercase;
		padding: 0;
		* {
			color: #000;
			font-size: 14px;
			font-family: "Gotham Rounded";
		}
		li a {
			border-left: 2px solid #999;
			&:hover {
				border-bottom: 5px solid #888;
				box-sizing: border-box;
			}
		}
		.active a {
			background: #ccc;
			border: none;
			border-bottom: 5px solid $color-main;
		}
	}
	.btn {
		margin-top: 20px;
	}
	.col {
		padding: 12px;
		position: relative;
		overflow: hidden;
		height: 165px;
		margin-bottom: 15px;
		.photo { 
			height: 165px;
			z-index: 3;
			background-size: cover;
			background-position: center;
			width: 100%;
		}
		.layer {
			height: 165px;
			z-index: 2;
			width: calc(100% - 25px);
			position: absolute;
			top: 165px;
			.photo-ico {
				cursor: pointer;
				width: 70%;
				font-size: 12px;
				margin: 35px auto;
				text-align: center;
				visibility: hidden;
				h5 {
					font-size: 18px;
					padding: 0 0 0 5px;
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
		&:hover {
			.layer {
				top: 12px;
				background: rgba(0,0,0,0.8);
				transition: top 0.5s ease-in;
			}
			.photo-ico {
				visibility: visible;
				color: $color-main;
				transition:  0.4s ease-in 0.5s;
			}
		}
	}
}

.team {
	.carousel img { 
		height: 700px;
	}
	.carousel-inner {
		.carousel-caption {
			left: 0;
			width: 100%;
		}
	}
	h1, h5 {
		color: #fff;
	}
	.row {
		margin: 25px 0;
		.col {
			background-color: #fff;
			margin: 1%;
			width: 31%;	
			padding: 0 60px;
			h3 {
				font-size: 21px;
			}
			p {
				font-size: 14px;
			}
		}
		
		.col-fa {
			width: 33px;
			margin: 20px 2px;
			padding: 0;
			display: block;
			float: left;
		}
		
		.fa {
			background-color: #ccc;
			border-radius: 50%;
			width: 33px;
			height: 33px;
			font-size: 16px;
			line-height: 30px;
			cursor: pointer;
			color: #fff;
			&:hover {
				color: #fff;
				transform: scale(1.2);
				transition: transform 0.5s 0s;
				background: $color-main;
			}
		}
	}
	.face {
		width: 13vw;
		max-width: 175px;
		height: 13vw;
		max-height: 175px;
		margin: 40px auto;
		background-size: cover;
	}
}

.clients {
	background: $color-background;
	height: 700px;
	.carousel-caption {
		padding: 0 110px;
	}
	.face {
		width: 10vw;
		max-width: 135px;
		height: 10vw;
		max-height: 135px;
		margin: 90px auto 20px;
		background-size: cover;
	}
	.carousel img { 
		height: 700px;
	}
	h3 {
		font-size: 24px;
		color: #000;
		font-weight: 700;
	}
	h6 {
		color: #000;
		margin-bottom: 50px;
		font-size: 18px;
	}
	p {
		margin-bottom: 110px;
		color: $color-gray;
		font-size: 14px;
		font-weight: 300;
	}
}
.logo {
	.col {
		height: 150px;
		padding: 50px 0 50px 40px;
	}
}

.prices {
	padding: 40px 0;
	background: url('../images/bg.png');
	background-size: cover;
	.col {
		background: #fff;
		margin: 20px 1%;
		padding-top: 20px;
		width: 23%;
		cursor: help;
		h1 {
			line-height: 10px;
		}
	}
	p {
		line-height: 10px;
		margin: 5px;
		font-family: "Gotham Rounded";
	}
	h2 {
		font-size: 14px;
		text-transform: uppercase;
		color: #000;	
	}
	h6 {
		font-size: 10px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	.btn {
		margin: 20px 0 40px;
		width: 15vw;
		max-width: 180px;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 33px;
		&:hover {
			font-size: 18px;
			transition: 0.3s;
		}
	}
}

.products {
	height: 720px;
	text-shadow: none;
	.carousel-indicators {
		bottom: 90px;
	}
	.carousel-caption {
		text-shadow: 0 0 0 rgba(0, 0, 0, 1);
		width: 100%;
		left: 0;
		height: 680px;
	}
	.carousel img { 
		height: 720px;
	}
	.row {
		margin-top: 25px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		.boxes {
			background: url('../images/img.png');
			background-repeat: no-repeat;
			height: 380px;
			margin-top: 25px;
		}
		.col {
			text-align: left;
			padding: 10px;
			h3 {
				text-transform: uppercase;
				font-size: 21px;
				color: #242424;
				font-weight: 700;
				margin-top: 35px;
			}
			p {
				color: #5b5b5b;
				font-size: 14px;
				font-weight: 300;
			}
		}
	}
	.btn {
		margin-top: 60px;
		width: 192px;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 35px;
		color: #fff;
		&:hover {
			font-size: 18px;
			transition: 0.3s;
		}
	}
}

.facts {
	min-height: 400px;
	background: #000;
	padding: 40px 0;
	h1 {
		color: #fff;
	}
	h5 {
		color: $color-light-gray;
	}
	h3 {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
	}
	p {
		font-size: 12px;
	}
	.row {
		margin-top: 15px;
		.col {
			padding: 0 20px;
			h1 {
				color: $color-main;
				font-size: 48px;
			}
			hr {
				width: 18px;
				height: 2px;
				margin: 0 auto;
				color: $color-gray;
				border-color: $color-gray;
				background-color: $color-gray;
				margin-top: 20px;
				margin-bottom: -10px;
			}
			.row:first-child {
				height: 115px;
			}
			.row:nth-child(2) {
				height: 50px;
			}
		}
	}
}
.share {
	box-shadow: 2px 2px 2px #ccc;
	padding-top: 20px;
	height: 85px;
	overflow: hidden;
	p {
		line-height: 50px;
	}
	.share-box {
		width: 590px;
		margin: 0 auto;
		line-height: 50px;
		padding: 0;
		height: 85px;
	}
	i {
		float: left;
	}
	.col {
		float: left;
		width: 400px;
		&:first-child {
			width: 190px;
			line-height: 10px;
		}
		.col {
			float: left;
			width: 42px;
			display: inline-block;
		}
	}
	.fa {
		display: inline-block;
		float: left;
		background-color: #fff;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin: 10px;
		font-size: 20px;
		box-sizing: border-box;
		line-height: 30px;
		text-align: center;
		cursor: pointer;
	}
	.fa-twitter {
		background-color: $color-twitter;
		color: #fff;
		&:hover {
			background-color: #fff;
			border: 1px solid $color-twitter;
			color: $color-twitter;
		}
	}
	.fa-facebook {
		background-color: $color-facebook;
		color: #fff;
		&:hover {
			color: $color-facebook;
			background-color: #fff;
			border: 1px solid $color-facebook;
		}
	}
	.fa-google-plus {
		background-color: $color-google;
		color: #fff;
		&:hover {
			color: $color-google;
			background-color: #fff;
			border: 1px solid $color-google;
		}
	}
	.fa-linkedin {
		background-color: $color-linkedin;
		color: #fff;
		&:hover {
			color: $color-linkedin;
			background-color: #fff;
			border: 1px solid $color-linkedin;
		}
	}
	.fa-pinterest-p {
		background-color: $color-pinterest;
		color: #fff;
		&:hover {
			color: $color-pinterest;
			background-color: #fff;
			border: 1px solid $color-pinterest;
		}
	}
	.fa-share-alt {
		line-height: 40px;
		font-size: 30px;
		margin: 4px 10px;
		color: $color-main;
	}
}

.contact {
	padding: 40px 0;
	.ct-box {
		width: 550px;
		margin: 0 auto;
		.btn {
			margin-bottom: 30px;
			width: 192px;
			border-radius: 5px;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 35px;
			color: #fff;
			&:hover {
				font-size: 18px;
				transition: 0.3s;
			}
		}
		form {
			margin: 60px 0 40px;
			input {
				border: none;
				border-bottom: 2px solid #ccc;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			#name {
				width: 47%;
				margin-right: 6%;
				float: left;
			}
			#Email {
				width: 47%;
			}
			#subject {
				margin-top: 30px;
			}
			#massage {
				margin-top: 60px;
			}
		}
	}
}
.map {
	background: url('../images/map.png');
	background-size: cover;
	background-position: center;
	height: 416px;
	padding: 28px 10vw;
	.place-info {
		width: 540px;
		height: 360px;
		background: #fff;
		padding: 50px 20px;
		.col {
			height: 40px;
			line-height: 30px;
			margin: 10px;
			font-family: "Gotham Rounded";
			i {
				font-size: 20px;
				display: inline-block;
				border-radius: 50%;
				width: 36px;
				height: 36px;
				background: #ccc;
				color: #fff;
				line-height: 36px;
				text-align: center;
				margin: 0 20px;
			}
		}
	}
}

.footer {
	min-height: 260px;
	padding: 10px;
	background-color: #000;
	.row {
		width: 100%;
		max-width: 1000px;
		margin: 30px auto;
		padding: 0;
		max-height: 650px;
		.col {
			padding-left: 10px;
			.row {
				margin: 0 auto;
			}
		}
	}
	.col {
		max-height: 300px;
		text-align: left;
		margin: 0;
		padding: 0 20px;
	}
	.col-i {
		width: 35px;
		margin: 4px;
		height: 35px;
		float: left;
		.fa {
			background-color: $color-dark-gray;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			text-align: center;
			font-size: 20px;
			line-height: 35px;
			visibility: visible;
			color: #fff;
			&:hover {
				cursor: pointer;
				font-size: 24px;
				transition: .3s;
				background: $color-main;
			}
		}
	}
	.btn {
		margin: 5px 0 40px;
		width: 192px;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 35px;
		color: #fff;
		&:hover {
			font-size: 18px;
			transition: 0.3s;
		}
	}
	.subscribe {
		background: url('../images/bg1.png');
		text-align: center;
		input {
			margin: 35px auto 20px;;
			width: 70%;
			border: none;
			border-bottom: 3px solid #ccc;
			background: transparent;
			text-align: center;
			text-transform: uppercase;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	span {
		color: #fff;
		display: block;
		margin-top: 110px;
	}
	p {
		font-size: 12px;
		color: $color-gray;
	}
}

#myModal {
	top: 100px;
	.modal-content {
		width: 300px;
		margin: 0 auto;
		text-align: center;
	}
	.modal-header {
		height: 30px;
		border: none;
	}
	.modal-body {
		input {
			margin: 0 auto 40px;
			width: 70%;
			border: none;
			border-bottom: 3px solid #ccc;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.btn {
			margin-bottom: 30px;
		}
		h1 {
			color: $color-main;
		}
	}
}

#myModal1 {
	.modal-header {
		height: 75px;
		padding-left: 7%;
		.date {
			color: $color-light-gray;
			font-size: 10px;
			padding: 0;
			margin: 0;
		}
		h4 {
			font-size: 18px;
			font-weight: 700;
		}
		.details {
			font-size: 12px;
			font-weight: 700;
		}
	}
	.modal-body {
		#carousel-example-generic9 {
			width: 90%;
			margin: 0 auto;
			 .carousel-control {
				top: 550px;
				.glyphicon-chevron-left, .glyphicon-chevron-right {
					background-color: $color-main;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-shadow: none;
					color: #000;
				}
			}
			.right.carousel-control {
				left: inherit;
				right: -50px;
			}
			.left.carousel-control {
				left: inherit;
				right: 50px;
			}
		}
		.mini-photos {
			height: 100px;
			padding: 25px 5% 0;
			img {
				float: left;
				width: 12%;
				min-width: 70px;
				margin-right: 15px;
				cursor: pointer;
			}
		}
	}
	.modal-footer {
		background-color: #ededed;
		text-align: left;
		.modal-desc {
			margin-left: 5%;
			width: 60%;
			float: left;
			display: inline-block;
			padding-right: 20px;
		}
		.modal-socials {
			width: 30%;
			float: left;
			.modal-numbers {
				padding-left: 5px;
			}
			span {
				margin: 0 14px;
			}
			.fa {
				display: inline-block;
				float: left;
				background-color: white;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				margin: 10px;
				font-size: 20px;
				box-sizing: border-box;
				line-height: 30px;
				text-align: center;
				cursor: pointer;
			}
			.fa-twitter {
				background-color: $color-twitter;
				color: #fff;
				&:hover {
					background-color: #fff;
					border: 1px solid $color-twitter;
					color: $color-twitter;
				}
			}
			.fa-facebook {
				background-color: $color-facebook;
				color: #fff;
				&:hover {
					color: $color-facebook;
					background-color: #fff;
					border: 1px solid $color-facebook;
				}
			}
			.fa-google-plus {
				background-color: $color-google;
				color: #fff;
				&:hover {
					color: $color-google;
					background-color: #fff;
					border: 1px solid $color-google;
				}
			}
			.fa-linkedin {
				background-color: $color-linkedin;
				color: #fff;
				&:hover {
					color: $color-linkedin;
					background-color: #fff;
					border: 1px solid $color-linkedin;
				}
			}
			.fa-pinterest-p {
				background-color: $color-pinterest;
				color: #fff;
				&:hover {
					color: $color-pinterest;
					background-color: #fff;
					border: 1px solid $color-pinterest;
				}
			}
		}
	}
}

.modal-prices {
	.modal-header {
		background: -webkit-linear-gradient(235deg,#fff, $color-main, $color-main);
	}
	.btn {
		width: 120px;
		height: 30px;
	}
}

.modal-cont, .modal-sub {
	.modal-header {
		background: -webkit-linear-gradient(235deg,#fff, $color-main, $color-main);
	}
	h1 {
		color: $color-main;
	}
}

.fixed {
	position: sticky;
	width: 96vw;
	
	top: 530px;
	margin-top: -30px;
	z-index: 10;
	div {
		cursor: pointer;
		width: 60px;
		height: 60px;
		display: inline-block;
		border-radius: 50%;
		background-color: $color-main;
		text-align: center;
		padding-top: 10px;
		&:hover {
			transform: scale(1.2);
			transition: 0.5s;
		}
	}
	div:first-child {
		margin-left: 5vw;
		float: left;
	}
	div:nth-child(2) {
		margin-right: 5vw;
		float: right;
	}
}
		
@media (max-width: 1360px) {
	.main {
		height: 55vw;	
		#carousel-example-generic2 {
			height: 55vw;
			.carousel-inner {
				height: 55vw;
			}
			.carousel-indicators {
				bottom: 4vw;
			}
		}
		.hero {
			top: -42vw;
		}
	}
	.fixed {
		top: 530px;
		margin-top: -65px;
	}
}
		
@media (max-width: 1200px) {
	.main {
		.hero {
			top: -45vw;
		}
	}
	.team {
		.row {
			.col-fa {
				margin: 1.5vw 2px;
			}
		}
	}
	.clients {
		.carousel-caption {
			padding: 0 8vw;
		}
	}
}

@media (max-width: 992px) {
	.main {
		.hero {
			top: -47vw;
		}
	}
	.menu {
		.nav {
			width: 100%;
			min-height: 200px;
			.logo {
				margin: 20px calc(50% - 35px) 0;
				float: clear;
				height: 70px;
				width: 70px;
			}
			ul {
				width: 100%;
				li {
					float: clear;
				}
			}
		}
	}
	.team {
		.carousel img { 
			height: 650px;
		}
		.row {
			.col {
				padding: 0 20px;
				.row {
					.col {
						padding: 0;
					}
				}
			}
		}
	}
	.clients {
		.face {
			width: 20vw;
			height: 20vw;
			margin: 20px auto;
		}
	}
	.products {
		.carousel-caption {
			height: 690px;
		}
		.btn {
			margin-top: 20px;
		}
	}
	.footer {
		.col-i {
		 width: 5vw;
		 height: 5vw;
			.fa {
				width: 5vw;
				height: 5vw;
				font-size: 20px;
				line-height: 5vw;
				&:hover {
					font-size: 22px;
				}
			}
		}
		span {
			margin-top: 50px;
		}
	}
	#myModal1 {
		.modal-body {
			#carousel-example-generic9 {
				.carousel-control {
					top: 350px;
				}
				.right.carousel-control {
					left: inherit;
					right: -30px;
				}
				.left.carousel-control {
					left: inherit;
					right: 70px;
				}
			}
		}
		.modal-footer {
			.modal-socials {
				.modal-numbers {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.main {	
		.hero {
			top: -55vw;
			h1 {
				font-size: 44px;
			}
		}
	}
	.menu {
		.nav {
			min-height: 500px;
			ul {
				
				li {
					width: 40%;
					display: block;
					margin: 0 5%;
					text-align: center;
				}
			}
		}
	}
	.team {
		.carousel img { 
			height: 600px;
		}
	}
	.clients {
		.face {
			margin: 60px auto 20px;
		}
	}
	.prices {
		.col {
			width: 46%;
		}
		.btn {
			width: 30vw;
		}
	}
	.products {
		height: 1180px;
		.carousel-indicators {
			bottom: 40px;
		}
		.carousel-caption {
			height: 1130px;
		}
		.carousel img { 
			height: 1180px;
		}
		.row {
			margin-top: 25px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 15px;
			.boxes {
				height: 380px;
				margin-top: 25px;
			}
		}
		.btn {
			margin-top: 40px;
		}	
	}
	.share {
		padding: 30px;
		height: 150px;
		.col {
			height: 55px;
			float: clear;
			width: 100%;
			display: block;
		}
	}
	.contact {
		.ct-box {
			width: 400px;
		}
	}
	.map {
		padding: 28px 20px;
		.place-info {
			width: 480px;
			padding: 50px 10px;
		}	
	}
	.footer {
		.col {
			margin: 20px auto;
		}
		.col-i {
			margin: 5px;
			width: 50px;
			height: 50px;
			.fa {
				width: 50px;
				height: 50px;
				font-size: 26px;
				line-height: 50px;
				&:hover {
					font-size: 30px;
				}
			}
		}
	}
	#myModal1 {
		.modal-body {
			#carousel-example-generic9 {
				.carousel-control {
					top: 55vw;
				}
				
			}
		}
	}
}

@media (max-width: 650px) {
	.main {
		.hero {
			top: -52vw;
			h1 {
				font-size: 30px;
				line-height: 30px;
			}
			h3 {
				font-size: 16px;
			}
		}
		.carousel-indicators {
			display: none;
		}
	}
	.team {
		.carousel img { 
			height: 550px;
		}
		.row {
			.col {
				width: 48%;
				&:nth-child(3) {
					display: none;
				}
				h3 {
					font-size: 16px;
				}
				p {
					font-size: 11px;
				}
				.row {
					.col {
						width: 33px;
						&:nth-child(3) {
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.projects {
		.nav-tabs {
			width: 130px;
			* {
				font-size: 12px;
			}
			li a {
				box-sizing: border-box;
				width: 130px;
			}
		}
		.col {
			width: 98%;
		}
	}
	.products {
		.row {
			.col{
				p {
					font-size: 12px;
				}
			}
		}
	}
	.contact {
		padding: 20px 0;
		.ct-box {
			width: 310px;
		}
	}
	.map {
		padding: 28px 15px;
		background-position: 60%;
		.place-info {
			width: 280px;
			padding: 10px 20px;
			.col {
				height: 60px;
				i {
					margin: 0 20px 0 0;
				}
			}
		}
	}
	.fixed {
		width: 94vw;
		
		
	}
	#myModal1 {
		.modal-body {
			.mini-photos {
				img {
					display: none;
				}
			}
		}
		.modal-footer {
			p {
				font-size: 10px;
			}
		}
	}
}

@media (max-width: 470px) {
	.menu {
		.nav {
			ul {
				li {
					width: 50%;
					margin: 0;
				}
			}
		}
	}
	.main {	
		.btn {
			display: none;
		}
	}
	.prices {
		p {
			font-size: 12px;
		}
	}
	.clients {
		p {
			font-size: 12px;
		}
	}
	.share {
		.col {
			.col {
				float: clear;
				width: 32px;
			}
		}
		.fa {
			margin: 10px 0;
		}
	}
	#myModal1 {
		.modal-footer {
			p {
				font-size: 10px;
			}
			.modal-socials {
				width: 80px;
				float: left;
				.fa {
					width: 30px;
					height: 30px;
					margin: 2px 5px 2px;
					font-size: 20px;
					box-sizing: border-box;
					line-height: 30px;
					text-align: center;
					cursor: pointer;
				}
			}
		}
	}
}